*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d6c6d5;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 19, 19);
    text-align: center;
    margin: 15px;
}

h1 span{
    color: yellow;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(20, 20, 20);
}

/*.container-img{
    display: grid;
    grid-template-columns: repeat(2,4);
    gap: 10px;
    justify-content: center;
    margin-top: 10rem;

}*/

.container-imagenes{
width: 100%;
margin: 5px;
}

img{
    width: 100%;
}

.imagen_columna{
    margin: 5px;
}

.grid-container-img .container-imagenes{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: auto 1fr auto;

}

@media(min-width:520px){
    .grid-container-img .container-imagenes{
        grid-template-columns: repeat(2,200%);
    }
}

@media(min-width:728px){
    .grid-container-img .container-imagenes{
        grid-template-columns: repeat(3,33,3%);
    }
}

@media(min-width:1024px){
    .grid-container-img .container-imagenes{
        grid-template-columns: repeat(4,25%);
    }
}



@media(min-width:1200px){
    .container-imagenes{
        width: 1200px;
    }
}


section img{
    width: 25%;
}

header img{
    width: 8rem;
}

header ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    margin: 5px;
}

header a{
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px;
}

.anuncio{
    background-color: rgb(44, 152, 160);
}
.anuncio p{
    color: black;
    text-align: center;
    padding: 5px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container{
    margin: 20px;
}

.container_img{
    margin: 10px;
}